<div class="panel panel-default">
  <ol class="breadcrumb">
    <li><%= link_to "Dashboard", user_dashboard_path(current_user) %></li>
    <li class="active"> Edit Article </li>
  </ol>

  <div class="panel-body" style="text-align: center">
    <%= form_for @article, action: "update" do |f| %>
      <p>
        <h3> <%= f.label :headline %> </h3>
        <%= f.text_field :headline, style: "width: 500px" %>
      </p>

      <p>
        <h3> <%= f.label :deck %> </h3>
        <%= f.text_area :deck, style: "width: 500px;" %>
      </p>

      <p>
        <h3> <%= f.label :bodytext %> </h3>
        <%= f.text_area :bodytext, style: "width: 500px; height: 500px;" %>
      </p>

      <p>
        <h3> <%= f.label :section %> </h3> 
      </p>

      <p> 
        <%= f.submit "Update Article" %>
      </p>

    <% end %>
  </div>

</div> 