<div class="panel panel-default">

  <ol class="breadcrumb">
    <li><%= link_to "Dashboard", user_dashboard_path(current_user) %></li>
    <li class="active"> Article Index </li>
  </ol>

  <div class="panel-body">  
    <% @articles.each do |article| %>
      <%= article.head %>
      <%= article.subhead %>
      <%= article.body %>
      <%= article.section_id %>
    <% end %>
  </div>
</div>