<div class="panel panel-default">
  <ol class="breadcrumb">
    <li><%= link_to "Dashboard", user_dashboard_path(current_user) %></li>
    <li class="active"> New Article </li>
  </ol>
  <div class="row .padding1em">
    <div class="col-md-3 col-md-offset-2" style="text-align: center">
      <%= form_for @article, action: "create" do |f| %>
      <p>
        <h3> <%= f.label :headline %> </h3>
        <%= f.text_field :headline %>
      </p>

      <p>
        <h3> <%= f.label :deck %> </h3>
        <%= f.text_area :deck %>
      </p>
    </div>
    <div class="col-md-5">
      <p>
        <h3> <%= f.label :bodytext %> </h3>
        <%= f.text_area :bodytext, :style => 'height: 120px;' %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <% if !@organizations.nil? %>
      <p> 
        <h3> <%= f.label :publishing_organization %> </h3>
        <%= f.select :organization_id, @organizations, { include_blank: true } %> 
      </p>
      <% end %>
    </div>
    <div class="col-md-4">
      <% if !@sections.nil? %>
      <p>
        <h3> <%= f.label :section %> </h3> 
        <%= f.select :section_id, @sections, {include_blank: true} %>
      </p>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-5" id="article_create">
        <p> 
          <%= f.submit "Create Article" :id => "create" %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>
