<div class="row"> 
  <div class="col-md-12">
    <h3>
      <% if @user.is_admin %>
        <%= icon("bolt") %>
      <% end %>
      <%= @user.name %>
      <%= link_to "New Article", new_article_path, :class => "btn" %>
      <%= link_to "Join Organizations", organizations_path, :class => "btn" %>

      <div class="pull-right">
        <% if current_user.is_admin? %>
          Admin Controls
          <%= link_to "Article Sections", sections_path, :class => "btn" %>
          <%= link_to "Article Index", articles_path, :class => "btn" %>
          <%= link_to "Media Index", medias_path, :class => "btn" %>
          <%= link_to "User Index", users_path, :class => "btn"%>
        <% end %>
      </div>
    </h3>
  </div>
</div>