<div class="panel panel-default">

  <ol class="breadcrumb">
    <li><%= link_to "Dashboard", user_dashboard_path(current_user) %></li>
    <li class="active"> Users Index </li>
  </ol>

  <div class="panel-body">
    <table class="table">
      <tr>
        <th> Name </th>
        <th> Organizations </th>
        <th> Actions </th>
      </tr>

      <% @users.each do |user| %>
        <tr> 
          <td> 
            <%= user.name %> 
          </td>
          <td>
            <% user.organizations.each do |org| %>
              <%= org.title %>
            <% end %>
          </td>
          <td>
            <%= link_to "Edit", "", :class => "btn btn-xs" %>
            <%= link_to "Delete", "", :class =>"btn btn-xs" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>