<% article_count = 0 %>
<% @articles.each do |article| %>
	<% if article.id == @articles.last.id 
		 	article_next = 0
		 else
		 	article_next = article_count + 1
		 end
	%>
	<div class="col-md-8 col-md-offset-2">
		<div id="<%= "news-#{article_count}" %>" data-next="<%= "#news-#{article_next}" %>" class="main-item">
			<div class="main-headline row">
				<%= article.headline %>
			</div>
			<div class="main-deck row">
				<%= article.deck %>
			</div>
			<div class="row">
				<div class="col-md-7 nopadding main-uhead">
					<div class="main-photo">
						<% if !article.medias.nil? %>
							<%= image_tag Photo.find(article.photos.media_id).image %>
							<div class="main-photo-byline">
								<%= article.user.name %>
								<% if article.organization %>
									/<i><%article.organization.title%></i>
								<% end %>
							</div>
							<div class="main-photo-caption">
								PHOTO CAPTION WILL BE INCLUDED here, but I'll type a really long sentence so it will look like it probably will when it's done. Sorry about those capital letters...it's just our style.
							</div>
						<% end %>
					</div>
				</div>
				<div class="main-text col-md-3">
					<%= article.bodytext.split(" ")[0..175].join(" ").html_safe %> ... 
					<div class="main-readmore">
						<%= link_to "Read more...", article %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% 	article_count += 1 %>
<% end %>
