<div class="panel panel-default">
    <ol class="breadcrumb">
      <li><%= link_to "Dashboard", user_dashboard_path(current_user) %></li>
      <li><%= link_to @organization.title, organization_path(@organization) %></li>
      <li class="active">Manage Members</li>
    </ol>

  <div class="panel-body">

    <% if @users.length > 0 %>
    <h4> Add New Member: </h4>
    <br />
      <% if @users %>
        <%= form_for :membership, url: organization_memberships_path(organization_id: params[:id]), method: :post do |f| %>
          <%= f.select :user_id, @users, { include_blank: true } %>
          <%= f.label "Leader?" %>
          <%= f.check_box :is_leader %>
          <br />
          <%= f.submit "Add ", :class => "btn btn-xs btn-confirm" %>
        <% end %>
      <% end %> 
      <hr />
    <% end %>

      <% if @memberships %>
        <h4> Current Members </h4>
        <br />
          <% @memberships.each do |mem| %>
            <% if mem.user.is_active? %>
              <%= button_to "Remove", 
                          organization_membership_path(organization_id: params[:id], id: mem.id), 
                          method: :delete,
                          :class => "pull-right btn btn-danger btn-xs" %>
              <% if !mem.is_leader %>
                <%= button_to "Promote", 
                            {:controller => :memberships, :action => 'leadership_status', :organization_id => params[:id], :id => mem.id },
                            method: :leadership_status,
                            :class => "pull-right btn btn-success btn-xs" %>
              <% else %>
                <%= button_to "Demote", 
                            {:controller => :memberships, :action => 'leadership_status', :organization_id => params[:id], :id => mem.id },
                            method: :leadership_status,
                            :class => "pull-right btn btn-success btn-xs" %>

              <% end %>
              <p> 
                <%= mem.user.name %> 
                <%= if mem.is_leader then icon("certificate") end %>
              </p>
            <% end %>
          <% end %> 

        <hr />
        <h4> Inactive Members </h4>
          <% @memberships.each do |mem| %>
            <% if !mem.user.is_active? %>
              <p> <%= mem.user.name %> </p>
            <% end %>
          <% end %>
      <% end %>
  </div>
</div>