<div class="panel panel-default">
  <div class="panel-heading">
    <h3> Manage Members </h3>
  </div>

  <div class="panel-body">

    <% if @users.length > 0 %>
    <h4> Add New Member: </h4>
    <br />
      <% if @users %>
        <%= form_for :membership, url: organization_memberships_path(organization_id: params[:id]), method: :post do |f| %>
          <%= f.select :user_id, @users, { include_blank: true } %>
          <%= f.label "Admin Privleges?" %>
          <%= f.check_box :is_leader %>
          <%= f.submit %>
        <% end %>
      <% end %> 
      <hr />
    <% end %>

      <% if @memberships %>
        <h4> Current Members </h4>
        <br />
          <% @memberships.each do |mem| %>
            <% if mem.user.is_active? %>
              <%= button_to "Remove", 
                          organization_membership_path(organization_id: params[:id], id: mem.id), 
                          method: :delete,
                          :class => "pull-right btn btn-danger btn-xs" %>
              <p> <%= mem.user.name %> </p>
            <% end %>
          <% end %> 

        <hr />
        <h4> Inactive Members </h4>
          <% @memberships.each do |mem| %>
            <% if !mem.user.is_active? %>
              <p> <%= mem.user.name %> </p>
            <% end %>
          <% end %>
      <% end %>
  </div>
</div>