<div class="panel panel-default">
  <ol class="breadcrumb">
    <li><%= link_to "Dashboard", user_dashboard_path(current_user) %></li>
    <li class="active"><%= @organization.title %></li>
    <% if current_user.is_admin? || @is_leader %> 
      <div class="pull-right">
        <%= link_to "Edit Positions", edit_positions_path(@organization), :class => "btn btn-default btn-xs" %>
        <%= link_to "Manage Members", manage_members_path(@organization), :class => "btn btn-default btn-xs" %>
      </div>
    <% end %>
  </ol>

  <div class="panel-body">
    <h4><b>Members</b></h4>
    <br />
    <table class="table">
      <tr>
        <th> Name </th>
        <th> Position </th>
      </tr>
      <% @organization.memberships.each do |mem| %>
        <tr>
          <td> 
            <%= link_to mem.user.name, user_path(mem.user) %>
            <%= if mem.is_leader then icon("certificate") end %>
          </td>
          <td>
            <%= mem.position.title %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>