<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>The Rensselaer Polytechnic | Serving the RPI community since 1885</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "application.css" %>
  <link rel="icon" type="image/png" href="../../assets/images/favicon.png">
  <%= javascript_include_tag "application.js" %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900,600italic,900italic|Droid+Serif:400,700,400italic,700italic|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <main role="main">
    <div class="container-fluid">
      <div class="row">
        <!-- Page header -->
        <%= render partial: "layouts/header" %>
      </div>
      <div class="content">
        <div class="row">
          <div class="span12">
            <!-- Flash messages -->
            <%= render partial: "layouts/messages" %>
            <!-- Page content -->
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer -->
  <%= render partial: "layouts/footer" %>
</body>
</html>
